<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="c:\git\supertrunfo\supertrunfo.servicecontroller\web_messages.svclog"
    type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
			<add initializeData="c:\git\supertrunfo\supertrunfo.servicecontroller\web_tracelog.svclog"
    type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5"/>
		<customErrors mode="Off" />
	</system.web>
	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true"
    logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
		</diagnostics>
		<bindings>
			<basicHttpBinding>
				<binding name="SuperTrunfo_BasichttpBinding" />
			</basicHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="SuperTrunfo_Behavior" name="SuperTrunfo.ServiceController.MesaService">
				<endpoint binding="basicHttpBinding" bindingConfiguration="SuperTrunfo_BasichttpBinding"
				 name="Mesa_Endpoint" contract="SuperTrunfo.ServiceController.IMesaService" />
				<endpoint address="mex" binding="basicHttpBinding" name="MesaMetadataExchange"
				 contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="SuperTrunfo_Behavior" name="SuperTrunfo.ServiceController.JogaService">
				<endpoint binding="basicHttpBinding" bindingConfiguration="SuperTrunfo_BasichttpBinding"
				 name="Joga_Endpoint" contract="SuperTrunfo.ServiceController.IJogaService" />
				<endpoint address="mex" binding="basicHttpBinding" name="JogaMetadataExchange"
				 contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="SuperTrunfo_Behavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
